<html>
    <body>
        <canvas id="video" width="1920" height="1080"">
        Your browser does not support the HTML5 canvas tag.
        </canvas>

        <script type="module">
            import { io } from "https://cdn.socket.io/4.3.0/socket.io.esm.min.js";
            var socket = io({transports: ['websocket'], upgrade: false});

            let canvas = document.getElementById('video')
            let ctx = canvas.getContext('2d');

            async function draw(imageBytes){
                var base64 = btoa(new Uint8Array(imageBytes).reduce((data, byte) => data + String.fromCharCode(byte), ''));
                var image = new Image();
                image.src = "data:image/jpeg;base64," + base64;
                image.onload = () => {
                    ctx.imageSmoothingEnabled = false;
                    ctx.clearRect(0, 0, canvas.width, canvas.height);
                    ctx.drawImage(image, 0, 0, 1920, 1080);
                };
            }

            var latestMessage = 0;
            socket.on('frame', function(message) {
                console.log('Received image ' + message.num)
                latestMessage = message.num
                socket.emit('ack', {'num': latestMessage});
                draw(message.bytes)
            });
        </script>
    </body>
</html>
