<html>
    <script src="https://d3js.org/d3.v5.js"></script>
    <body>
        <canvas id="capture" width="1024" height="768"">
        Your browser does not support the HTML5 canvas tag.
        </canvas>

        <script>
            function refreshImage() {
                console.log('Refreshing')
                let canvas = document.getElementById('capture')
                let ctx = canvas.getContext('2d');
                const image = new Image();
                image.onload = () => {
                    ctx.imageSmoothingEnabled = false;
                    ctx.clearRect(0, 0, canvas.width, canvas.height);
                    ctx.drawImage(image, 0, 0, 1024, 768);
                };
                image.src = "/capture?time="+new Date().getTime();
                setTimeout(function() { refreshImage(); }, 10);
            }

            refreshImage();
        </script>
    </body>
</html>
